<section class="home-section">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div>
                <h4 class="text-center mt-5" id="page-title">CSE Second year</h4>
            </div>
            <div class="col-md-12 mt-5 ">
                <table id="stdDetails" class="table table-hover text-center table-bordered" style="border: 2px solid #080808 !important;">
                    <thead>
                        <tr>
                            <th scope="col">Sno</th>
                            <th scope="col">Name</th>
                            <th scope="col">Reg No.</th>
                            <th scope="col">Phone No.</th>
                            <th scope="col">Email</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each cseStudents}}
                        {{#ifEquals Year "Second"}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td>{{this.Name}}</td>
                            <td>{{this.RegisterNo}}</td>
                            <td>{{this.Mobile}}</td>
                            <td>{{this.Email}}</td>
                            <td><a href="/admin/edit-cse-student/{{this._id}}" class="btn btn-primary">Edit</a></td>
                            <td><a href="/admin/delete-cse-student/{{this._id}}/{{this.Year}}" class="btn btn-danger" onclick="return confirm('Do you want to delete {{this.Name}}?')">Delete</a></td>
                        </tr>
                        {{/ifEquals}}
                        {{/each}}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <a id="btnExport" class="justify-content-end d-flex  btn btn-success" onclick="generatePdfStd()">Print</a>
                    <a target="_blank" href="/admin/add-cse-student" class="btn btn-primary">Add Students</a>
                </div>
            </div>
        </div>
    </div>
</section>