<div class="sidebar close">
    <div class="logo-details">
      <img src="/images/gscet-ligo.jpg" alt="">
      <span class="logo_name">GSCET ADMIN</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/admin">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/admin">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/admin/teacher">
            <i class="fa-sharp fa-solid fa-person-chalkboard"></i>
            <span class="link_name">Teachers</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/admin/teacher">Teachers</a></li>
          <li><a href="/admin/cse-staff">CSE</a></li>
          <li><a href="/admin/ece-staff">ECE</a></li>
          <li><a href="/admin/civil-staff">CIVIL</a></li>
          <li><a href="/admin/mech-staff">MECH</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="/admin/students-department">
            <i class="fa-sharp fa-solid fa-user-graduate"></i>
            <span class="link_name">Students</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="/admin/students-department">Students</a></li>
          <li><a href="/admin/students-department">View Students</a></li>
          <li><a href="#">Add Students</a></li>
        </ul>
      </li>
      <li>
        <a href="/admin/attendance">
          {{!-- <i class="fa-sharp fa-solid fa-user-check"></i> --}}
          <i class="fa-sharp fa-regular fa-calendar-check"></i>
          <span class="link_name">Attendance</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="/admin/attendance">Attendance</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            {{!-- <i class="fa-sharp fa-solid fa-user"></i> --}}
            <i class="bi bi-person-vcard-fill"></i>
            <span class="link_name">Profile</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Profile</a></li>
          <li><a href="/admin/view-profile/{{admin._id}}">View Profile</a></li>
          <li><a href="/admin/edit-profile/{{admin._id}}">Edit Profile</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="/images/admin/{{admin._id}}.jpg" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name">Dr.Bruce Banner
          {{!-- <p>Dr.Bruce Banner</p> --}}
          </div>
        <div class="job">Principal</div>
      </div>
      <a href="/admin/admin-logout"><i class='bx bx-log-out'></i></a>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section ">
    <div class="home-content headerz  ">
      <i class='bx bx-menu text-white' ></i>
      <span class="text "><a class="navbar-brand text-white " href="#">
      {{#if admin}}
      <h5 class="pt-2">{{admin.Name}}</h5>
      {{else}}
      Admin
      {{/if}}</a></span>
    </div>
  </section>
  <script>
    let arrow = document.querySelectorAll(".arrow");
for (var i = 0; i < arrow.length; i++) {
  arrow[i].addEventListener("click", (e)=>{
 let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
 arrowParent.classList.toggle("showMenu");
  });
}

let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".bx-menu");
console.log(sidebarBtn);
sidebarBtn.addEventListener("click", ()=>{
  sidebar.classList.toggle("close");
});

  </script>