<section class="home-section home-sect">
    <div class="mt-3 col-lg-12 col-12">
        <div class="row  mb-2">
            <div class="col-lg-4 col-4 ">
                <div class="bg-light rounded p-3 d-flex justify-content-end student_img">
                    <div class="std-count p-2">
                        <div class="">
                            <span class="total-std">
                                <span> Students : {{count}}</span>
                            </span>
                            <span class="view-std">
                                <a href="/staff/students" class="text-white">View students</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-4 ">
                <div class=" rounded p-3 d-flex justify-content-end attendance_img ">
                    <div class="std-count p-2">
                        <div class="">
                            <span class="total-std">
                                <span> Attendance</span>
                            </span>
                            <span class="view-std">
                                <a href="/staff/add-attendance" class="text-white">Take Attendance</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-4 ">
                <div class="bg-light rounded p-3 d-flex justify-content-end profile_img">
                    <div class="std-count p-2">
                        <div class="">
                            <span class="total-std">
                                <span> Profile</span>
                            </span>
                            <span class="view-std">
                                <a href="/staff/viewprofile/{{staff._id}}" class="text-white">Edit Profile</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <table id="example" class="table table-hover display text-center table-bordered"
                style="border: 2px solid #080808 !important;">
                <thead class="text-white bg-primary">
                    <tr>
                        <th class="text-center" scope="col">Sno</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Reg No.</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                        <th scope="row">{{inc @index}}</th>
                        <td>{{this.Name}}</td>
                        <td>{{this.RegisterNo}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 bg-white pt-2 rounded text-center ">
            <div>
                <h5>Working Day Calculator</h5>
            </div>
            <div>
                <form method="post" action="/staff">
                    <div class="form-group row mb-3">
                        <div class="d-flex">
                            <label class="form-control-label">Student name<span class="text-danger ">*</span></label>
                            <select class="form-select" name="RegNo" aria-label="Default select example">
                                <option value="">Choose the name</option>
                                {{#each students}}
                                <option value="{{this._id}}">{{this.Name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">View Attendance</button>
                </form>
            </div>
            <div>
                <div class="mt-3 mx-3 text-start">
                    <div>
                        <h6>Name of std &nbsp;&nbsp;: {{Name}}</h6>
                        <h6>Working days : {{workingDay}} </h6>
                        <h6>Present Days : {{presentDay}} </h6>
                        <div class=" d-flex">
                            <h6>Attendance %:</h6>
                            <h6
                                class="{{#gt round 80}}mx-1 px-2 rounded bg-success text-white{{else}}mx-1 px-2 rounded bg-danger text-white{{/gt}}">
                                {{round}} %</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>